<div class="container col-xxl-8 mt-5 ">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">

    <div class="col-lg-7">
      <h1 style="color: rgba(213,300,400,100);"  class="display-4 fst-italic  lh-1 mb-3 ">AM Biblio  pour la gestion d'une bibliothèque</h1>
      <p  class="lead text-white">AM Biblio vous permet de gérer votre bibliothèque, en créant des catégories regroupant des livres, en créant aussi des clients qui peuvent faire des emprunts des livres. En outre AM Biblio vous garantie une bonne securité d'informations des clients.</p>
    </div>
  </div>
</div>
